/*******  globals *********/
::selection {
  background: var(--main_colour);
  -webkit-text-fill-color: var(--white_tone);
}
@media screen and (max-width: 600px) {
  #wpadminbar {
      position: fixed !important;
  }
}
body{
  margin: 0;
  font-family: system-ui;
}
.text-primary{
  color: var(--main_colour);
}
.custom-logo img {
  height: auto;
  max-height: 7rem;
}
/* Custom Buttons */
.cta_button{
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: flex!important;
  align-items: center;
  gap: 0.35rem;
  border-radius: 4px;
  width: fit-content;
  padding: 0.75rem 1rem;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  overflow: hidden;
  height: 2rem;
  position: relative;
}
.cta_number_msg{
  font-size: 24px;
  font-weight: bold;
}
.cta_button_text{
  position: relative;
  z-index: 1;
}
.cta_number a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.cta_number_phone{
  color: var(--black_tone);
}
.cta_button_primary {
  background-color: var(--main_colour);
  color: var(--white_tone);
  fill: var(--white_tone);
}
.cta_button_primary:before {
  --tw-bg-opacity: 1;
  background-color: var(--main_colour_darker);
  content: "";
  height: 0;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  transition: all .8s ease;
  width: 0;
  z-index: 1;
}
.cta_button_primary:hover {
  --tw-shadow: 4px 4px #ffae35;
  --tw-shadow-colored: 4px 4px;
}
.cta_button_primary:hover:before {
  --tw-text-opacity: 1;
  border-radius: 50px;
  color: rgb(255 255 255);
  height: 30px;
  transform: scale(36.5);
  width: 30px;
}

.cta_button_secondary {
  background-color: var(--secondary_colour);
  color: var(--white_tone);
  fill: var(--main_colour);
  border: 1px solid var(--secondary_colour);
}
.cta_button_secondary:before {
  --tw-bg-opacity: 1;
  background-color: var(--main_colour);
  content: "";
  height: 0;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  transition: all .8s ease;
  width: 0;
  z-index: 1;
}
.cta_button_secondary:hover {
  --tw-shadow: 4px 4px #ffae35;
  --tw-shadow-colored: 4px 4px;
  color: var(--white_tone);
}
.cta_button .cta_button_secondary {
  transition: fill 1.5s ease;
}
.cta_button:hover .cta_button_secondary{
  fill: var(--white_tone);
}
.cta_button_secondary:hover:before {
  --tw-text-opacity: 1;
  border-radius: 50px;
  color: var(--white_tone);
  height: 30px;
  transform: scale(36.5);
  width: 30px;
}
.nav_links{
  background:#32363f;
}
/* Custom Buttons */


/* background colours */
.light{
    background-color: var(--white_tone);
}
.medium{
    background-color: var(--light_grey_tone);
}
.dark{
    background-color: var(--black_tone);
}

/* spacing */
.small-padding{
    padding: 1.5rem 0;
}
.medium-padding{
    padding: 2.5rem 0;
}
.large-padding{
    padding: 3.5rem 0;
}

/* Contact Form */
.wpcf7{
  width: 40vw;
}

.wpcf7-form input, .wpcf7-form textarea, .wpcf7-form select,.wpcf7-form input[type="submit"] {
    border-radius: 8px;
    padding: 1rem;
    border: none;
    width:100%;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}
.wpcf7-form input, .wpcf7-form textarea, .wpcf7-form select {
  background: var(--white_tone);
  color: var(--black_tone);
  box-sizing: border-box;
  border: solid 1px #cfcfcf;
  max-height: 3rem;
}
.wpcf7-form input[type="submit"]{
  background: var(--secondary_colour);
  color: var(--white_tone);
  cursor: pointer;
}

.wpcf7-form label{
    color: var(--white_tone);
    font-weight: 700;
}

@media(orientation: portrait){
    .wpcf7{
        width: 100%;
    }
}

/* Contact Form */
/* Fixed width container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/* Responsive fixed width container for small screens */
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

/* Responsive fixed width container for medium screens */
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

/* Responsive fixed width container for large screens */
@media (min-width: 992px) {
  .container {
      max-width: 1100px;
  }
}

/* Responsive fixed width container for extra large screens */
@media (min-width: 1200px) {
  .container {
      max-width: 1400px;
  }
}
.menu-item a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.img-auto{
  width:100%;
  height:auto;
}
.p-1{
  padding:1rem;
}
.py-1{
  padding: 1rem 0;
}
.d-flex{
  display:flex;
}
.flex-end{
  justify-content: flex-end;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.d-grid{
  display:grid;
}
.grid-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.text-white{
  color:#fff;
}
.gap-_25{
  gap: 0.25rem;
}
.gap-1{
  gap:1rem;
}
.gap-2{
  gap:2rem;
}
/*******  top-bar *********/
.top-bar{
  background-color: #000;
}
.link-header{
  color:#fff;
  text-decoration: none;
}
.link-header:hover{
  color: #d42127;
}
.social-icon{
  background: #d42127;
  border-radius: 5px;
  padding: 8px;
}
.social-icon:hover{
  background: #fff;
  border-radius: 5px;
  padding: 8px;
}
.social-icon:hover svg {
  fill: #d42127;
}
/*******  navbar-bar *********/
.navbar-bar{
  position: relative;
  z-index: 90;
  padding: 1rem 0;
}

.top-details li{
  list-style: none;
}
/*******  navigation bar *********/
.nav-class{
  display:flex;
  list-style: none;
  gap: 1rem;
}
.nav-class ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.ast-menu-toggle{
  display:none;
}
.icon-arrow{
  display:none;
}
.menu-item-has-children .sub-menu {
  display: none;
  transition: display 0.5s ease-in-out;
  list-style: none;
  padding: 0;
  background: var(--white_tone);
  border-radius:1rem;
}
.menu-item-has-children:hover .sub-menu {
  display: block;
  position: absolute;
  transition-duration: 1s;
}
.menu-item-has-children div > a:after{
  content: '⌵';
  padding: 0 0 0 0.5rem;
}
.sub-menu-toggle{
  display:none;
}
.menu-item-has-children .icon-arrow{
  display:unset;
}
.navigation ul.nav-class {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding:1rem;
  display:block;
  color:var(--main_colour_darker);
  font-weight: bold;
  font-size:1rem;
  text-decoration: none;
}
.navigation li a:hover {
  color: var(--main_colour);
}
.navigation ul.nav-class li ul.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 7px 8px 8px 0px;
  padding: 0;
  z-index:999;
  overflow:hidden;
}
.navigation ul.nav-class li ul.sub-menu li {
  display: block;
}
.navigation ul.nav-class li:hover > ul.sub-menu {
  display: block;
}
.menu-item-has-children .sub-menu li a{
  padding:1rem;
  text-decoration: none;
  display:block;
  color: var(--main_colour);
  min-width: 10rem;
  text-align:left;
}
.menu-item-has-children .sub-menu li a:hover{
  background: var(--main_colour);
  color: var(--white_tone);
  transition-duration: 0.5s;
}
.navigation .menu-item-has-children .sub-menu li a:hover {
  background: var(--main_colour);
  color: var(--white_tone);
}
.head-book{
  color: #fff !important;
  background: linear-gradient(-45deg, #d42127, #000000, #d42127, #000000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
.head-book a{
  color: #fff !important;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.desktop_none{
  display:none;
}
.heading_raw h1, .heading_raw h2,.heading_raw h3,.heading_raw h4,.heading_raw h5,.heading_raw h6{
  margin: 0;
  line-height: 1;
}
@media(orientation: portrait){
  .menu-item-has-children div > a:after{
    display:none;
  }
  .sub-menu-toggle{
    display:block;
    background: var(--black_tone);
    color: var(--white_tone);
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .menu_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation ul.nav-class li ul.sub-menu{
    position: unset;
    background-color: #ececec;
    box-shadow: rgb(196 202 198) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .cta_buttons_nav{
    display:none;
  }
  .navigation{
    display:none;
  }
  .mobile_nav{
    padding: 0.7rem;
  }
  .button_mb{
    background: var(--black_tone);
    color:var(--white_tone);
    border: none;
    padding: 0.5rem 1rem;
    border-radius:1rem;
  }
  .navigation ul.nav-class{
    flex-direction: column;
  }
  .navigation.active {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
    top: 4rem;
    background: var(--white_tone);
  }
  .mb_none{
    display:none;
  }
  .desktop_none{
    display:block;
  }
  .grid-1_mb{
    grid-template-columns: 1fr;
  }
  .p-0_mb{
    padding:0;
  }
  .m-0_mb{
    margin:0;
  }
}
.modular_theme_footer {
  font-size: .875rem;
  background-color: #030501;
  padding: 28px 0;
}
.footer_logo{
  display:flex;
  align-items: center;
}
.return_to_top{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 100% !important;
}
#return-to-top {
  position: fixed;
  bottom: 95px;
  right: 13px;
  z-index: 9;
  background: #1094c4;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.footer_row{
  justify-content: space-between !important;
  align-items: center !important;
  --bs-gutter-y: 1.5rem;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
}
.footer_info_{
  color: #fff;
  gap: 0.5rem;
  justify-content: center !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
}
.logo_footer_wrap{
  display:flex;
  justify-content: space-between;
}
.footer-background {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.footer-background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: repeat;
}
.footer-menu-list .menu-item a{
  color: #707070;
}
.footer-menu-list li{
  list-style: none;
}
.site-footer {
  font-family: system-ui;
  background-color: var(--white_tone_darker);
}
.z-1{
  position:relative;
  z-index:1;
}
.footer-bottom{
  background-color: var(--main_colour);
  font-family: system-ui;
}
.widget-title-1 {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--main_colour) !important;
  padding-left: 0px !important;
}
.site-primary-footer-wrap{
  padding: 3rem;
}
.site-primary-footer-wrap a {
  color: #5d5e5e;
  text-decoration: none;
}
.site-primary-footer-wrap a:hover {
  color: #D42127 !important;
}
.site-footer .menu-item{
  position: relative;
  padding: 0.5rem 0;
  list-style:none;
}
.site-footer .menu-item:before {
  content: '>';
  display: block;
  font-family: cursive;
  position: absolute;
  left: -1rem;
  font-weight: 900;
  color: var(--main_colour);
}
.footer-icon {
  background: var(--main_colour);
  box-shadow: 4px 4px 0 0 #000000;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-ques {
  background: #3A3A3A;
  padding: 50px 35px;
  outline: 1px dashed #888;
  outline-offset: -15px;
  text-align: center;
  color: #fff;
  font-weight:bold;
}
.footer-ques:hover {
  background: #D42127;
  transition: 0.5s;
  outline-color: #fff !important;
}
.footer-ques a {
  color: #fff;
  font-weight: bold;
}
.footer-ques a:hover {
  color: #000!important;
}
.footer-rec{
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
.footer-payment{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.footer-payment li{
  list-style:none;
}
.footer-payment li img {
  width: 70px;
  height:auto;
  padding-right: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.footer_info{
  color:#000;
  margin:0;
}
.footer-copyright{
  color: #fff;
  font-family: monospace;
}
.grid_footer{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(orientation: portrait){
  .custom_logo_footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .logo_footer_wrap{
    flex-direction: column;
  }
  .grid_footer{
    grid-template-columns: 1fr 1fr;
  }
  .grid_footer div:nth-child(1) {
    grid-column: span 1;
  }
  .grid_footer div:nth-child(2) {
    grid-column: span 1;
  }
  .grid_footer div:nth-child(3) {
    grid-column: span 2;
  }
  .grid_footer div:nth-child(4) {
    grid-column: span 2;
  }
}