.repeater_zigzag{
    display:flex;
    justify-content:center;
    
    h1, h2, h3, h4, h5, h6{
        font-size: 2rem;
        color: var(--main_colour);
    }
    h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        font-size: 3rem;
        font-weight: 900;
        background: -webkit-linear-gradient(var(--main_colour), var(--main_colour_darker));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1;
    }
    p{
        padding:1rem 0;
        font-size: 1rem;
        margin: 0;
    }
    li{
        list-style-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="%2300aeef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
    }
    .order-right{
        flex-direction: row;
    }
    .order-left{
        flex-direction: row-reverse;
    }
}
.repeater_zigzag.dark p{
    color: var(--white_tone);
}
.repeater_zigzag.dark li{
    color: var(--white_tone);
}
.repeater_align{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}
.repeater_content{
    flex:1;
}
.img_wrapper_repeater_zigzag{
    overflow:hidden;
    max-height: 40rem;
    flex:1;
}
.img_wrapper_repeater_zigzag_imgtag{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
@media(orientation: portrait){
    .repeater_align{
        flex-direction: column;
    }
    .img_wrapper_repeater_zigzag{
        height: 20rem;
        flex: unset;
    }
    .order-left,.order-right{
        flex-direction: column;
    }
}