.testimonial_card{
    background: #efefef;
    border-radius: 1rem;
    padding: 2rem 0;
}
.testimonials_slider-wrapper {
    position: relative;
    overflow: hidden;
    height: auto;
    cursor: pointer;
    padding: 0rem 10%;
}
.testimonials_slider-wrapper img{
    height: 100%;
    width:100%;
    object-fit:cover;
}
.testimonials_slider-wrapper p{
    color: #000;
    font-weight: normal;
}
.testimonials_slider-wrapper .quote_name{
    color: var(--main_colour);
    font-weight: bold;
}
@media(orientation: portrait){
    .testimonials_slider-wrapper {
        position: relative;
        overflow: hidden;
        height: auto;
    }
    .testimonials_slider-wrapper img{
        height: 100%;
        object-fit:cover;
    }
}

.testimonial_section .glide {
    position: relative;
    width: 100%;
    box-sizing: border-box; 
}
.testimonial_section .glide * {
    box-sizing: inherit; 
}
.testimonial_section .glide__track {
    overflow: hidden; 
}
.testimonial_section .glide__slides {
    margin:0;
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; 
}
.testimonial_section .glide__slides--dragging {
    user-select: none; 
}
.testimonial_section .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; 
}
.testimonial_section .glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}
.testimonial_section .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; 
    position: absolute;
    margin-top: -5rem;
    left: 0;
    right: 0;
    width: 110px;
    margin: -5rem auto 0 auto;
}
.testimonial_section .glide__arrow{
    padding: 0.5rem 0.7rem;
    color: var(--main_colour);
    background:#fff!important;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
}
.testimonial_section .glide__arrow:hover{
    background: var(--main_colour)!important;
    border: 4px solid var(--main_colour);
    color: #fff;
    cursor: pointer;
}
.testimonial_section .glide__bullets_testimonial {
    -webkit-touch-callout: none;
    user-select: none;
}
.testimonial_section .glide--rtl {
    direction: rtl; 
}
.testimonial_section .glide {
    cursor: -webkit-grab;
    margin-top: 0;
}
.slider__arrow--prev {
    left: 1.5rem;
}
.fas {
    right: 5px;
    position: absolute;
    top: 6px;
}
.slider__arrow--next {
    right: 1.5rem;
}
.slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 24px;
    height: 24px;
    margin-top: -9px;
    border-radius: 50%;
    background-color: #454545;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
}
.slider__arrow--prev {
    left: 1.5rem;
}
.testimonials_slider__frame[class*=active] {
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background 0.1s ease-in;
}
.testimonials_slider__frame {
    border-radius: 0.16667em;
    text-align: center;
    height: unset;
    -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.112);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.116);
    color: #fff;
    font-size: 1em;
    font-weight: 900;
}
li.carousel_frame.glide__slide a{
    max-width: 5rem;
    display: flex;
}
@media(orientation: portrait){
    .testimonials_slider__frame {
    height: unset;
    }
}
.glide__bullets_testimonial{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.container .testimonial-carousel button.glide__bullet.glide__bullet--active{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: none;
    background: var(--main_colour)!important;
    opacity: 1;
}
.container .testimonial-carousel button.glide__bullet{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: none;
    background: var(--main_colour_darker)!important;
    opacity: .5;
}